
       
<table>
  <tr>
    <th><th>Task (ID) </th></th>
    <th><th>Comments</th></th>
    <th><th>Status</th></th>
  </tr>

  <% @task_lists.each do |task_list| %>

  <tr>
    <td><td><%= link_to task_list.title, task_list %></td></td>
    <td><td><%= task_list.description %></td></td>
    <td><td><%=  %></td></td>
  </tr>
  <% end %>

</table>